<% include layout %>
<% if (user.google) { %>
<p>ID: <%= user.google.id %></p>
<% } else if (user.twitter) { %>
<p>ID: <%= user.twitter.id %></p>
<% } else if (user.facebook) { %>
<p>ID: <%= user.facebook.id %></p>
<% } %>
<p>Name: <%= user.displayName %></p>
